.main-content {
  margin-left: 0;
  padding-top: 80px;
  min-height: 100vh;
  padding-left: 0;
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 250px;
    padding-left: 0;
  }
}

.main-content.no-sidebar {
  margin-left: 0 !important;
  padding-top: 0 !important;
}